
body{
	background-color: rgb(255, 204, 255);
	color: black;
	font-family: Times New Roman, Times;
}
title{
	color: black;
	font-size: 2em;
}
h2{
	color: rgb(51, 0, 51);
}
img{
	box-shadow: 5px 5px 5px 5px gray;
 
}
.backgcolor{
	font-family: Times New Roman, Times;
	font-size: 1em;
	color:black;
	background-color: rgb(255, 153, 255);
	text-shadow:: 2px 2px 2px white;
}
